* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* Typography */
  font-family: 'Ubuntu', sans-serif;

  /* Visuals */
  background-color: #d5d4d5;
}

.container {
  /* Positioning */
  width: 1000px;

  /* Box Model */
  border-radius: 20px;
  margin: 70px auto;
  padding: 50px 150px 200px;

  /* Visuals */
  background-color: #3d81f7;
  color: white;
}

.introduction-header {
  /* Positioning */
  height: 120px;
}

.header {
  /* Box Model */
  padding: 0 20px;
  margin-bottom: 30px;

  /* Typography */
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
}

.slogan {
  /* Box Model */
  margin-bottom: 20px;

  /* Typography */
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
}

.choice-list {
  /* Box Model */
  padding: 30px 0;
}

.choice {
  /* Box Model */
  border-radius: 10px;
  margin-bottom: 10px;

  /* Typography */
  font-size: 15px;
  font-weight: 400;

  /* Visuals */
  background-color: white;
  color: black;

  /* Misc */
  line-height: 40px;
  list-style: none;
}

.choice.col.s12 {
  padding: 30px 90px 30px 20px;
}

.buttons {
  /* Positioning */
  float: left;
  width: calc(100% - 40px);
  height: 100%;

  /* Box Model */
  margin: 30px auto;

  /* Typography */
  text-align: center;
}

#submit {
  /* Box Model */
  border-radius: 10px;
  margin-right: 10px;
}

#clear {
  /* Box Model */
  border-radius: 10px;
  margin-right: 10px;

  /* Visuals */
  background-color: #dd4230;
}

#randomize {
  /* Box Model */
  border-radius: 10px;
  margin-right: 10px;

  /* Visuals */
  background-color: #f16b00;
}

#remove {
  /* Positioning */
  position: relative;
  right: -70px;
  bottom: 0;

  /* Visuals */
  background-color: #dd4230;
}
