* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin-top: 100px;
}

#logo {
  height: 120px;
}

h5,
h6 {
  text-align: center;
}

#remove {
  position: relative;
  top: -17px;
  float: right;
}
